<header class="header">
  <img
    class="logo"
    src="https://o.remove.bg/downloads/c05c39c4-1b40-4b0f-8612-a20b6f4f6043/united-states-dollar-euro-finance-currency-exchange-rate-euro-removebg-preview.png"
  />
  <div class="rates">
    <div>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Flag_of_Europe.svg/250px-Flag_of_Europe.svg.png"
      />
      <div>1€ = {{ hrnToEur }}₴</div>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Flag_of_Ukraine.svg/250px-Flag_of_Ukraine.svg.png"
      />
    </div>
    <div>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/US_flag_large_51_stars.png/300px-US_flag_large_51_stars.png"
      />
      <div>1$ = {{ hrnToUsd }}₴</div>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Flag_of_Ukraine.svg/250px-Flag_of_Ukraine.svg.png"
      />
    </div>
  </div>
</header>
