.header {
  display: flex;
  justify-content: space-around;
  background-color: lightblue;

  .logo {
    width: 100px;
    height: 100px;
  }

  .rates {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;

    div {
      display: flex;
      flex-direction: row;

      img {
        height: 20px;
        width: 30px;
      }

      div {
        font-size: 20px;
        font-weight: 700;
        margin: 0 5px 0 5px;
      }
    }
  }
}
